@model TrashCollector.ViewModels.CustomerDashboardViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
    </dl>


    <div id="customerDashboard">
        <div id="greeting">
            Hello, 
            <span id="firstName">
                @Html.DisplayFor(model => model.Customer.FirstName)
                !
            </span>
        </div>
        <div id="customerDetails">
            <div id="nameContainer">
                @Html.DisplayFor(model => model.Customer.FirstName)
                <span>
                    @Html.DisplayFor(model => model.Customer.LastName)
                </span>
            </div>
            <div id="customerId">
                Member ID: @Html.DisplayFor(model => model.Customer.CustomerId)
            </div>
            <div id="addressInfo">
                @Html.DisplayFor(model => model.Street) <br />
                @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State) @Html.DisplayFor(model => model.Zip)
            </div>
        </div>
        <form asp-action="UpdateDay">
            <div class="form-group">
                <h4>Pickup Day</h4>
                <div>
                    Your pickup day is <span id="yourPickupDay">@Html.DisplayFor(model => model.DayOfWeek)</span>
                </div>
                <div id="dayOptions">
                    <div class="row">
                        @foreach (var day in Model.DaysOfWeek)
                        {
                            <div class="col">
                                @Html.RadioButtonFor(model => model.SelectedDay, day.Text[0].ToString(), new { id = day.Text+"RadioBtn", value = day})
                                @Html.LabelFor(model => model.SelectedDay, day.Text[0].ToString())
                            </div>
                        }
                    </div>
                </div>
                <a asp-action="UpdateDay" asp-route-id="@Model.SelectedDay" class="btn btn-primary">Update</a>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
