@model TrashCollector.ViewModels.CustomerDashboardViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="display:none">Index</h1>

<div>
    <h2 id="greeting">
        Hello,
        <span id="firstName">
            @Html.DisplayFor(model => model.Customer.FirstName)!
        </span>
    </h2>

    <hr />


    <div id="customerDashboard">



        <div class="row">
            <div class="col-md-4">
                <div id="customerDetails" class="card">
                    <h5 class="card-header">My Info</h5>
                    <div class="card-body">
                        <div id="nameContainer">
                            @Html.DisplayFor(model => model.Customer.FirstName)
                            <span>
                                @Html.DisplayFor(model => model.Customer.LastName)
                            </span>
                        </div>
                        <div id="customerId">
                            Member ID: @Html.DisplayFor(model => model.Customer.CustomerId)
                        </div>
                        <div id="addressInfo">
                            @Html.DisplayFor(model => model.Street) <br />
                            @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State) @Html.DisplayFor(model => model.Zip)
                        </div>
                        <a asp-action="UpdateContactInfo" class="btn btn-primary">Update</a>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <form asp-action="UpdateDay" class="card">
                    <div class="form-group">
                        <h5 class="card-header">Pickup Day</h5>
                        <div class="card-body">
                            <div id="pickupDayDeclared">
                                Your pickup day is <span id="yourPickupDay">@Html.DisplayFor(model => model.DayOfWeek)</span>
                            </div>
                            <div id="dayOptions">
                                <div class="row">
                                    @foreach (var day in Model.DaysOfWeek)
                                    {
                                        <div class="col">
                                            @Html.LabelFor(model => model.SelectedDay, day.Text)
                                            @Html.RadioButtonFor(model => model.SelectedDay, day.Text, new { id = day.Text + "RadioBtn", value = day })
                                        </div>
                                    }
                                </div>
                            </div>
                            <input type="submit" value="Update" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>



        <div class="row">
            <div class="col-md-4">
                <form asp-action="RequestSpecialPickupDate" class="card">
                    <div class="form-group" id="specialPickupDateForm">
                        <h5 class="card-header">Request a special pickup date</h5>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="calIcon-2">
                                        <svg class="bi bi-calendar3" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                                            <path fill-rule="evenodd" d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                        </svg>
                                    </span>
                                </div>
                                <input asp-for="SpecialPickup" class="form-control" id="specialPickupDate" data-provide="datepicker" name="SpecialPickup" value="" placeholder="MM/DD/YYYY" type="text" />
                            </div>
                            <input type="submit" value="Submit request" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-4">
                <form asp-action="SuspendServices" class="card">
                    <div class="form-group" id="suspendServicesForm">
                        <h5 class="card-header">Suspend services</h5>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="calIcon-1">
                                        <svg class="bi bi-calendar3" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                                            <path fill-rule="evenodd" d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                        </svg>
                                    </span>
                                </div>
                                <input asp-for="SuspendStart" class="form-control" id="suspendStartDate" data-provide="datepicker" name="SuspendStart" placeholder="Start date" value="" type="text" aria-describedby="calIcon-1" />
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="calIcon-2">
                                        <svg class="bi bi-calendar3" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                                            <path fill-rule="evenodd" d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                        </svg>
                                    </span>
                                </div>
                                <input asp-for="SuspendEnd" class="form-control" id="suspendEndDate" data-provide="datepicker" name="SuspendEnd" placeholder="End date" value="" type="text" aria-describedby="calIcon-2" />
                            </div>
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-4">
                <div id="myBalance" class="card">
                    <h5 class="card-header">My Balance</h5>
                    <div class="card-body">
                        <h3 id="balanceAmt">@Html.DisplayFor(x => x.AccountBalanceFormatted)</h3>
                        <a class="btn btn-primary">Pay</a>
                    </div>
                </div>
            </div>

        </div>
    </div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.css" />
